.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.infected {
  border-bottom: 10px solid rgba(3, 3, 95, 0.5);
}

.pcr {
  border-bottom: 10px solid rgba(153, 163, 6, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(90, 3, 3, 0.5);
}
